:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
}

#body {
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
h2 {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 2pt solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #ffffff47;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
	color: #213547;
	background-color: #ffffff;
	}
	a:hover {
	color: #747bff;
	}
	button {
	background-color: #f9f9f9;
	}
	.weapon-is-sentient {
	border-color: #00000047 !important; 
	}
	button:hover {
	border-color: #00000047	!important;
	}
}

button {
	width: 10vw;
}
h1 {
	height: 7.5vh;
	margin: 0;
	margin-top: 1.5vh;
}
#body {
	height: 90vh;
	margin: 0;
	min-width: 33%;
	
	display: flex;
}

.fade-in-1 {
	animation: .666s ease-in 0s 1 fade-in-1;
}
.fade-in-2 {
	animation: .666s ease-in 0s 1 fade-in-2;
}

@keyframes fade-in-1 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in-2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.weapon-generator {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;

	flex-grow: 1;
}


.generate-button {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: auto;

	width: fit-content;
}

.weapon-generator-output {
	width: 100%;

	flex-grow: 1;
	overflow-y: auto;

	margin-bottom: 10pt;
}	

.weapon-generator-output-body {
	display: flex;
	gap: 20pt;
}

@media (orientation: landscape) {
	.weapon-generator {
		margin-left: 10vw;
		margin-right: 10vw;
	}
	
	.weapon-is-sentient-top-half {
		display: flex;
		justify-content: space-around;
	}
}

@media (orientation: portrait) {
	.weapon-generator-output-body {
		flex-direction: column;
	}
}

.weapon-generator-output-body > * {
	flex-basis: 0;
}

.weapon-generator-powers {
	flex-grow: 2;
}
.weapon-is-sentient {
	flex-grow: 1;
}

.weapon-generator-active-list-item {
	margin-left: 20pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
}
.weapon-generator-active-list-item > p {
	display: inline;
}
.weapon-generator-active-list-item::before {
	content: '•';
	display: inline-block;
	width: 10pt;
	height: 10pt;
}
.weapon-name {
	width: 100%;
	text-align: center;
}
.weapon-damage-title {
	font-weight: bold;
	text-decoration: underline;
}
.weapon-is-sentient {
	border: 2pt solid #ffffff47;
	border-radius: 10pt;

	padding: 10pt;
}
.weapon-is-sentient-title {
	text-align: center;

}

.weapon-generator-row-flex {
	padding: 0;
	margin: 0;
	
	display: flex;
	align-items: center;
	gap: 6pt;
}
.weapon-generator-row-flex > * {
	padding: 0;
	margin: 0;
}

.weapon-rarity-common {
	color: white;
}
.weapon-rarity-uncommon {
	color: hsl(108, 74%, 50%);
}
.weapon-rarity-rare {
	color: hsl(212, 74%, 55%);
}
.weapon-rarity-epic {
	color: hsl(273, 74%, 60%);
}
.weapon-rarity-legendary {
	color: hsl(51, 84%, 50%);
}


.weapon-demands-generator {
	margin-top: 10pt;
	padding: 5pt;

	display: flex;
	flex-direction: column;
	gap: 5pt;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
}

.weapon-demands-generator-output-header {
	font-weight: bold;
}

.weapon-demands-generator-content {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

div > .weapon-demands-generator-button {
	display: flex;
	justify-content: center;
}

.weapon-demands-generator-button {
	width: fit-content;
}

.weapon-demands-generator-output-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}